/*
 * @Author: your name
 * @Date: 2021-02-01 09:18:05
 * @LastEditTime: 2021-03-22 10:22:21
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \wz-basic-cim\src\components\sourcelayer\cityIndex\index.less
 */
.titles {
  display: inline-block;
  vertical-align: middle;
  font-family: YouSheBiaoTiHei;
  color: #fff;
  font-size: 2vh;
}

.zhuangshi {
  background-image: url('/static/images/mode-ico/装饰_1.png');
  background-size: 100% 100%;
  width: 252px;
  height: 3px;
}
.ljxq {
  width: unset !important;
  float: right;
  top: -0.5vh;
  background-size: 100% 100%;
  background-image: url("/static/images/mode-ico/下拉框.png");
  > .el-input {
    > .el-input__inner {
      padding: 1vh 2vh;
      height: 3vh !important;
      line-height: 2vh !important;
      width: 11vh;
      font-size: 1.4vh;
      background-color: transparent;
      border: 0px solid #DCDFE6;
      font-family: PingFang SC;
      color: #1BFFE4;
    }
    > .el-input__suffix {
      right: 1vh;
      top: 0.2vh;
      > .el-input__suffix-inner {
        > .el-input__icon {
          height: unset !important;
          width: 2vh !important;
          line-height: unset !important;
          margin-top: 0.6vh;
        }
        > .el-select__caret {
          &::before {
            color: white;
            // font-size: 1vh;
          }
        }
      }
    }
  }
  .el-icon-arrow-up:before {
    content: "\25B2";
}
}

.wzsqq {
  // background-image: url('/static/images/mode-ico/区域icon.png');
  // background-size: contain;
  // background-repeat: no-repeat;
  height: 53vh;
}

.wzsljxq {
  background-image: url('/static/images/mode-ico/wzsljxq.png');
  // background-size: 100% 100%;
  // width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  height: 48vh;
  margin-top: 2vh;
}

.lcljxq {
  background-image: url('/static/images/mode-ico/lcljxq.png');
  // background-size: 100% 100%;
  // width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  height: 48vh;
  margin-top: 2vh;
}

.s1{
  background-image: url('/static/images/mode-ico/S1线.png');
  // width: 10vw;
  background-size: 100% 100%;
  //background-size: contain;
  background-repeat: no-repeat;
  height: 48vh;
  margin-top: 2vh;
}
.cityIndex-source {
  position: absolute;
  top: 6vh;
  // left: 2vw;
  left: 2vh;
  z-index: 7;

  >div {
    height: 100%;
  }

  .target-wrapper {
    height: 100%;

    .header {
      display: block;
      height: 4vh;
      line-height: 4vh;
      font-family: YouSheBiaoTiHei;
      font-size: 3.2vh;
      color: #ffffff;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.64);
      position: relative;
      padding-left: 1.6vh;
    }

    .header::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0.6vh;
      width: 14vh;
      height: 1.6vh;
      z-index: -1;
      background-image: linear-gradient(90deg, #2acbfe 0%, transparent 100%);
      transform: skewX(-30deg);
    }

    .content {
      .item {
        display: flex;
        align-items: flex-start;
        margin-top: 2vh;

        >img {
          width: 5vh;
        }

        >div {
          flex: 1;
          display: flex;
          flex-direction: column;
          color: #fff;
          margin-left: 1.8vh;

          .title {
            font-size: 1.6vh;
            font-weight: bold;
          }

          .desc {
            margin-top: 0.6vh;
            font-size: 1.4vh;
          }

          .number {
            margin-top: 0.4vh;
            color: #2acbfe;
            font-size: 2.8vh;
            font-family: DIN !important;
            font-weight: bold;

            span {
              font-family: DIN !important;
            }
          }

          .small {
            font-size: 1.2vh;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.sj {
  font-size: 2vh;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  // line-height: 39px;
  color: #FFFFFF;
  text-shadow: 0px 1px 6px rgba(0, 220, 255, 0.5);
  -webkit-text-stroke: 0.20000000298023224 #0B8BC1;
  // text-stroke: 0.20000000298023224 #0B8BC1;
  opacity: 1;
  /* z-index: 7; */
  color: white;
}

.rq {
  font-size: 2vh;
  font-family: YouSheBiaoTiHei;
  /* font-weight: 400; */
  // line-height: 1px;
  right: 0;
  float: right;
  color: #FFFFFF;
  text-shadow: 0px 0px 6px rgba(0, 220, 255, 0.5);
  -webkit-text-stroke: 0.20000000298023224 #0B8BC1;
  // text-stroke: 0.20000000298023224 #0B8BC1;
  opacity: 1;
}

.tbjb {
  width: 100%;
  height: 8vh;
  position: absolute;
  z-index: 7;
  top: 0vh;
  background: linear-gradient(180deg, #030303 0%, #010714 28%, rgba(1, 4, 9, 0) 100%);
  opacity: 0.9;
}

.tb {
  top: 0vh;
  // width: 3.5vw;
  height: 7vh;
  position: absolute;
  z-index: 7;
  // left: 2vw;
  left: 2vh;
}

.xmname {
  // width: 20vw;
  // height: 2vw;
  height: 4.8vh;
  position: absolute;
  z-index: 7;
  // left: 5.7vw;
  top: 0.5vh;
  left: 10vh;
  // margin: 0.6vh 0.4vw;
  // margin: 0.6vh 0.8vh;
}

.middle {
  position: absolute;
  z-index: 7;
  left: 53vh;
  top: 1.4vh;
  display: flex;
  // align-items: center;
  height: 3vh;
  .line {
    // width: 0.1vw;
    // height: 1.4vw;
    margin-right: 0.6vh;
    width: 0.2vh;
    height: 90%;
    background: #28b8aa;
    opacity: 1;
    // position: absolute;
    // z-index: 7;
    // left: 53vh;
    // top: 1.7vh;
  }

  .zs {
    height: 100%;
    // width: 26vw;
    // height: 1.8vw;
    // height: 3.6vh;
    // width: 27%;
    // position: absolute;
    // z-index: 7;
    // right: 13.5vw;
    // right: 27vh;
    // top: 1.7vh;
  }
}
.djdm{
  top: 0.5vh;
  width: 6vw;
  // width: 12vh;
  position: absolute;
  z-index: 7;
  right: 7.5vw;
  // right: 15vh;
}
.logo {
  top: 0.5vh;
  width: 6vw;
  // width: 12vh;
  position: absolute;
  z-index: 7;
  // right: 1vw;
  right: 2vh;
}
